body {
 background-color:  #ccc;


}

section {
  width: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-maior {
  background-color: #fff;
  width: 60%;
  min-height: 200px;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 20px 0px;
}

.container-vagas-geral {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 10px;
}

article {
  width: 100%;
  height: 60px;
  align-items: flex-start;
  display: flex;
  justify-content: end;
}

.container-article {
  display: flex;
  align-items: center;
  margin: 10px 20px 0px 0px;
  
}

.container-article a {
  color: var(--texto-padrao);
  font-size: 18px;
}

.container-vaga {
  width: 80%;
  height: 66px;
  border-radius: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
  color: var(--texto-padrao);
  border: 2px solid #6f6c9025;
}

.container-vaga:hover {
  background-color: rgba(111, 108, 144, 0.15);
}

.button-maior {
  width: 603px;
  margin: 20px 0px
}

.esconder {
  display: none;
}

.container-vaga div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}

.esconder-modal {
  display: none;
}

.container-x a img {
  width: 25px;
}


.container-x {
  width: 115%;
  display: flex;
  justify-content: end;
  margin-top: -20px;
}