html {
    height: 100vh;
    width: 100vw;
}

body{
   color: var(--texto-padrao);
}

header {
    width: 100%;
    height: 55px;
    padding: 0px 23px;
}

header nav {   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seta-container img {
    width: 35px;
    height: 35px;
}
.seta-container img:hover {
    transform: scale(1.1);
}

.seta-container img:active, .exit-container:active {
    transform: scale(.98);
}

.exit-container {
    display: flex;
    align-items: center;
    color: #6F6C90;
}

.exit-container:hover {
    transform: scale(1.1);
}

.exit-container img {
    width: 30px;
    height: 30px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-geral {
    background-color: white;
    height: 550px;
    width: 650px;
    border-radius: 34px;
    padding: 60px 63px;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container p {
    font-size: 14px;
}

.header-container span, .titulo-container span, .texto-container span {
    font-weight: bold;
}

.titulo-container {
    margin-top: 15px;
}

.titulo-container p {
    font-size: 18px;
}

.texto-container {
    margin-top: 5px;
}

.titulo-vaga {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.vagas-container {
    margin-bottom: 40px;
}

.vagas-container .header-vagas {
    display: flex;
    margin-top: 10px;    
    padding: 0px 20px; 
    justify-content: space-between;   
}

.vagas-container .header-vagas p {
    font-weight: bold;
}

.vagas-container .vagas-geral{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

.vagas-container .vaga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(111, 108, 144, 0.1);
    border-radius: 46px;
    height: 40px;
    padding: 0px 20px;
    font-size: 14px;
}
/* --------- Clase abaixo é para deixar a cor vermelho na reprovação ----------- */
.nome-reprovado {
    color: red;
}

/* ------------------------------------------------------ */

.vaga .btn-normal {
    background-color: #FE6663;
    color: #FFFFFF;
    height: 25px;
    width: 110px;
    border: none;
    border-radius: 43px;
    cursor: pointer;    
    opacity: .85;
}

.btn-normal:hover{
    opacity: 1;
    transform: scale(1.03);
}

.btn-normal:active{
    opacity: 1;
    transform: scale(.98);
}

.desabilitado {
    background-color: #CCCCCC !important;
}

.desabilitado:hover{    
    opacity: .85;
    transform: scale(1);
}

.desabilitado:active{    
    opacity: .85;
    transform: scale(1);
}

.candidatar-container {
    display: flex;
    justify-content: center;
}

.btn-candidatar-vaga {
    background-color: #4A3AFF;
    height: 40px;
    width: 400px;
    color: #FFFFFF;
    border: none;
    border-radius: 43px;
    opacity: .85;
    cursor: pointer;
    transition: .5;
}

.btn-candidatar-vaga:hover{
    opacity: 1;
    transform: scale(1.03);
}

.btn-candidatar-vaga:active{
    opacity: 1;
    transform: scale(.98);
}

.btn-cancelar-vaga {
    background-color: #FE6663;
}

.btn-reprovado {
    background-color: #6F6C90;
}